@model IEnumerable<WEBTABLES.ViewModel.Table1ViewModel>

@{
    ViewBag.Title = "GetTable1";
}

<h2>GetTable1</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           



        </tr>
    }

</table>
